@using System.Collections
@using PagedList.Mvc
@model LandLordRating.Models.AdminPanelViewModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

<h3>Welcome to the Admin Area</h3>

<div class="container">
    <div class="row" style ="min-height: 150px;">
        <div class="col-md-4">
            Current User Count: @Model.Users
        </div>
        <div class="col-md-4">
            Current LandLord Count: @Model.LandLords
        </div>
        <div class="col-md-4">
            Current Ratings Count: @Model.Ratings
        </div>
    </div>
    <div class="row" style="min-height: 150px;">
        <div class="col-md-6">
            <p>LandLords Currently Awaiting Approval: @Model.LandLordsAwaitingApproval</p>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Click Here to View LandLords Awaiting Approval >>", "LandLordsAwaitingApproval", "Admin", null, new { @type="p" })
        </div>
    </div>
    
    <div class="row" style="min-height: 150px;">
        <div class="col-md-6">
            <p>LandLords Currently Declined For Approval: @Model.LandLordsDeclined</p>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Click Here to View LandLords Declined LandLords >>", "DeclinedLandLords", "Admin", null, new { @type = "p" })
        </div>
    </div>
    

    <br/>
       
</div>