@using System.Collections
@using PagedList.Mvc
@model LandLordRating.Models.AdminPanelViewModel

@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin Panel</h1>

<h2>Welcome to the Admin Area</h2>

<div class="container">
    <div class="row admin-count-bars" style ="min-height: 150px;">
        <div class="col-md-4">
            <h3>Current User Count: @Model.Users</h3>
        </div>
        <div class="col-md-4">
            <h3>Current LandLord Count: @Model.LandLords</h3>
        </div>
        <div class="col-md-4">
            <h3>Current Ratings Count: @Model.Ratings</h3>
        </div>
    </div>
    <div class="row" style="min-height: 150px;">
        <div class="col-md-6">
            <h3>LandLords Currently Awaiting Approval: @Model.LandLordsAwaitingApproval</h3>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Click Here to View LandLords Awaiting Approval >>", "LandLordsAwaitingApproval", "Admin", null, new { @type="h3" })
        </div>
    </div>
    
    <div class="row" style="min-height: 150px;">
        <div class="col-md-6">
            <h3>LandLords Currently Declined For Approval: @Model.LandLordsDeclined</h3>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Click Here to View Declined LandLords >>", "DeclinedLandLords", "Admin", null, new { @type = "h3" })
        </div>
    </div>
    
    <div class="row" style="min-height: 150px;">
        <div class="col-md-6">
            <h3>Pending LandLord Claims: @Model.PendingLandLordClaims</h3>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Click Here to View Pending LandLord Claims >>", "PendingLandLordClaims", "Admin", null, new { @type = "h3" })
        </div>
    </div>
    
    <div class="row" style="min-height: 150px;">
        <div class="col-md-6">
            <h3>Pending Ratings: @Model.PendingRatings</h3>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Click Here to View Pending Ratings >>", "PendingRatings", "Admin", null, new { @type = "h3" })
        </div>
    </div>

    <div class="row" style="min-height: 150px;">
        <div class="col-md-6">
            <h3>Pending Rating Replies: @Model.PendingRatingReplies</h3>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Click Here to View Pending Rating Replies >>", "PendingRatingReplies", "Admin", null, new { @type = "h3" })
        </div>
    </div>
    

    <br/>
       
</div>