@model PagedList.IPagedList<LandLordRating.Models.LandLord>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "LandLords Awaiting Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LandLords Awaiting Approval</h2>
<br />
<p>Here is a list of landlords submitted by users awaiting approval</p>

@using (Html.BeginForm())
{
    <p>
        Find by LandLord Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
}
<table class="table table-striped" id="landlordsTable">
    <thead>
    <tr>
        <th>
            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            LandLord Rating
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.FullName).ToString(), "Details", new { id = item.LandLordId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.ActionLink("Approve LandLord", "ApproveLandLord", new { id = item.LandLordId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Decline LandLord", "DeclineLandLord", new { id = item.LandLordId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@Html.ActionLink("Return to Admin Area", "Index", "Admin")
