@model LandLordRating.Models.FlagViewModel

@{
    ViewBag.Title = "Remove Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove Rating</h2>

<h3>Are you sure you want to remove this rating?</h3>
<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating.RatingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating.RatingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating.RatingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating.RatingDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating.LandLord.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating.LandLord.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating.User.UserName)
        </dd>
        
        <dd>
            @Html.DisplayFor(model => model.Flag.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag.FlaggedReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag.FlaggedReason)
        </dt>


    </dl>
    
    <hr/>
    <br/>
    
    @Html.ActionLink("Remove Rating", "RemoveRatingFinal", "Admin", new { id = Model.Flag.FlagId }, new { @class = "btn btn-primary btn-lg" })
    
    <br/>
    
    @Html.ActionLink("Back to list", "PendingFlags", "Admin")

</div>
