@model LandLordRating.Models.Rating

@{
    ViewBag.Title = "Create Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Leaving Review For @ViewBag.Message</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(u => u.LandLordId)

        <div class="form-group">
            @Html.LabelFor(model => model.RatingName, htmlAttributes: new { @class = "control-label" })<br />
            @Html.EditorFor(model => model.RatingName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RatingName, "", new { @class = "text-danger" })
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.RatingDescription, htmlAttributes: new { @class = "control-label" })<br />
            @Html.TextAreaFor(model => model.RatingDescription, new { htmlAttributes = new { @class = "form-control", @style="width: 100%;" } })
            @Html.ValidationMessageFor(model => model.RatingDescription, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LateFees, htmlAttributes: new { @class = "control-label" })<br />
                @Html.EnumDropDownListFor(model => model.LateFees, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LateFees, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LandLordNotice, htmlAttributes: new { @class = "control-label" })<br />
                @Html.EnumDropDownListFor(model => model.LandLordNotice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LandLordNotice, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LandLordResponse, htmlAttributes: new { @class = "control-label" })<br />
                @Html.EnumDropDownListFor(model => model.LandLordResponse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LandLordResponse, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RateAnonymously, htmlAttributes: new { @class = "control-label" })<br />
                @Html.EnumDropDownListFor(model => model.RateAnonymously, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RateAnonymously, "", new { @class = "text-danger" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.LandLordRating, htmlAttributes: new { @class = "control-label" })<br />
            <label>One</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 1, new { htmlAttributes = new { @class = "form-control", @value=1 } })  
            <label>Two</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 2, new { htmlAttributes = new { @class = "form-control", @value = 2 } })
            <label>Three</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 3, new { htmlAttributes = new { @class = "form-control", @value = 3 } })
            <label>Four</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 4, new { htmlAttributes = new { @class = "form-control", @value = 4 } })
            <label>Five</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 5, new { htmlAttributes = new { @class = "form-control", @value = 5 } })
            <label>Six</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 6, new { htmlAttributes = new { @class = "form-control", @value = 6 } })
            <label>Seven</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 7, new { htmlAttributes = new { @class = "form-control", @value = 7 } })
            <label>Eight</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 8, new { htmlAttributes = new { @class = "form-control", @value = 8 } })
            <label>Nine</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 9, new { htmlAttributes = new { @class = "form-control", @value = 9 } })
            <label>Ten</label>
            @Html.RadioButtonFor(model => model.LandLordRating, 10, new { htmlAttributes = new { @class = "form-control", @value = 10 } })
            @Html.ValidationMessageFor(model => model.LandLordRating, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>

   
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
