@model LandLordRating.Models.LandLordViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LandLord Details</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            @if (@Model.LandLord.ProfileImageUrl != null)
            {
                <img src="@Model.LandLord.ProfileImageUrl" class="img-responsive" style="max-height: 400px;"/>
            }
            else
            {
                <img src="~/img/profile/profile-placeholder.png" class="img-responsive" style="max-height: 400px;"/>
            }

        </div>
        <div class="col-md-8 col-sm-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LandLord.FullName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LandLord.FullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LandLord.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LandLord.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LandLord.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LandLord.State)
                </dd>

                <dt>
                    Is LandLord Claimed?
                </dt>

                @if (Model.LandLord.IsClaimed)
                {
                    <dd>Yes</dd>
                }
                else
                {
                    <dd>No</dd>
                }
            </dl>
            <br/>
            <h3>About This LandLord:</h3>
            @if (@Model.LandLord.Description != null)
            {
                <p>@Model.LandLord.Description</p>
            }
            else
            {
                <p>This landlord does not have a detailed description.</p>
            }
            
        </div>
    </div>

    <hr/>


    <div class="row">
        <h1>Reviews For This LandLord</h1>
        <div class="col-md-12">

            @if (Model.LandLord.Ratings.Count == 0)
            {
                @Html.Raw("<h4>There are no ratings for this landlord yet. Be the first to ")
                @Html.ActionLink("leave a rating", "CreateRating", "LandLords", new {id = Model.LandLord.LandLordId}, null)
                @Html.Raw(".</h4>")
            }
            else
            {
                @Html.ActionLink("Leave a Rating", "CreateRating", "LandLords", new {id = Model.LandLord.LandLordId}, null)
            }


            <table class="table table-striped" id="landlordratingstable">
                <thead>
                <tr>
                    <th>
                        Rating Name
                    </th>
                    <th>
                        LandLord Rating
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Ratings)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@Html.DisplayFor(modelItem => item.RatingName).ToString(), "ViewRating", "LandLords", new {id = item.RatingId}, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LandLordRating)
                        </td>
                        <td>
                            @Html.ActionLink("View Rating", "ViewRating", "LandLords", new {id = item.RatingId}, new {@class = "btn btn-primary"})
                            @if (Model.IsClaimingUser)
                            {
                                @Html.ActionLink("Reply To Rating", "ReplyToRating", "LandLords", new {id=item.RatingId}, new {@class="btn btn-primary"})
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>

<hr />

@if (Model.IsClaimingUser)
{
    <p>@Html.ActionLink("Edit Your LandLord Page", "Edit", "LandLords", new {id = Model.LandLord.LandLordId}, null) </p>
    <p>@Html.ActionLink("Update Your Profile Image", "UploadProfileImage", "LandLords", new { id = Model.LandLord.LandLordId }, null)</p>
}
else if (Model.LandLord.IsClaimed)
{
    <p>This LandLord page has already been claimed. If you are the owner or individual referenced in this page, please @Html.ActionLink("Contact Us", "Contact", "Home", null, null) to dispute this information.</p>
}
else if (!Model.LandLord.IsClaimed)
{
    <p>This LandLord page has not been claimed. If you are the owner or individual referenced in this page, please @Html.ActionLink("Claim this page", "ClaimLandLord", "LandLords", new {id = Model.LandLord.LandLordId}, null)</p>
}
@Html.ActionLink("Back to LandLord Search", "Index", "LandLords", new {@class = "btn btn-primary"})


<!--Magnific Popup Code-->
<div id="test-popup" class="white-popup mfp-hide">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>We Found @Model.LandLord.FullName!</h1>
            <p>Sign up to view information about this landlord.</p>
            <p>Logged in users can...</p>
            <ul>
                <li>Rate landlords based on their service quality.</li>
                <li>Find what other users think of this landlord</li>
                <li>Research properties a landlord owns</li>
                <li>Claim a landlord page to respond to feedback and update your page</li>
            </ul>
            <br/>
            @Html.ActionLink("Sign Up Now", "Register", "Account", null, new { @type = "button", @class="btn btn-primary btn-lg"})
        </div>
    </div>
</div>

@if (!Request.IsAuthenticated)
{
    <script>

        $(document).ready(function () {
            setTimeout(function () {
                if ($('#test-popup').length) {
                    $.magnificPopup.open({
                        items: {
                            src: '#test-popup'
                        },
                        type: 'inline',
                        closeOnBgClick: false,
                        showCloseBtn: false
                    });
                }
            }, 2000);
        });
    </script>
}
