@model PagedList.IPagedList<LandLordRating.Models.LandLord>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "LandLords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search for LandLord</h2>
<br />
<p>Below is a list of all landlords we have information on.  Search the list to see if your property or landlord is on our list.  If you cannot find your landlord you are free to @Html.ActionLink("create a new landlord page.", "Create")</p>

@using (Html.BeginForm())
{
    <p>
        Find by LandLord Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>

    <p>
        Search by Location: @Html.TextBox("locationsearch")
        Select radius of search: <select name="distance" id="distance" style="display: inline;">
            <option value="10">Within 10 miles</option>
            <option value="20">Within 20 miles</option>
            <option value="50">Within 50 miles</option>
            <option value="75">Within 75 miles</option>
            <option value="100">Within 100 miles</option>
        </select>
    </p>
}
<table class="table table-striped" id="landlordsTable">
    <thead>
    <tr>
        <th>
            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            LandLord Rating
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.FullName).ToString(), "Details", new { id = item.LandLordId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.ActionLink("Write Rating", "CreateRating", new { id = item.LandLordId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
