@using Microsoft.AspNet.Identity
@model LandLordRating.Models.RatingViewModel

@{
    ViewBag.Title = "Rating Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rating Details</h2>

<div>
    <h2>Viewing Rating Details For @Model.Rating.LandLord.FullName</h2>
    <div class="row">
        <div class="col-md-12">
            <h4>@Html.DisplayNameFor(model => model.Rating.RatingName)</h4>
            <p>
                @Html.DisplayFor(model => model.Rating.RatingName)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Rating.RatingDescription)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Rating.RatingDescription)
            </p>
        </div>
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Rating.LandLord.FullName)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Rating.LandLord.FullName)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Rating.LateFees)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Rating.LateFees)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Rating.LandLordNotice)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Rating.LandLordNotice)
            </p>
        </div>
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Rating.LandLordResponse)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Rating.LandLordResponse)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Rating.ContactPhoneNumer)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Rating.ContactPhoneNumer)
            </p>
        </div>
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Rating.RecommendLandLord)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Rating.RecommendLandLord)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>
                @Html.DisplayNameFor(model => model.Rating.RentIncrease)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Rating.RentIncrease)
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <h4>
            @Html.DisplayNameFor(model => model.Rating.LandLordRating)
        </h4>
        <p>
            @Html.DisplayFor(model => model.Rating.LandLordRating)
        </p>
    </div>
</div>

@if (Model.RatingReply != null)
{
    <h2>LandLord's Reply to this Rating:</h2>
    <p>@Model.RatingReply.ReplyDescription</p>
}

@if (Model.IsClaimingUser && Model.RatingReply != null)
{
    <h2>You've already replied to this rating.</h2>
    <p>You can only reply once to a particular rating.</p>
} else if (Model.IsClaimingUser && Model.RatingReply == null)
{
    <h2>You can reply to this rating</h2>
    <p>Since this is your landlord page, you can reply to this rating and provide feedback to the user.</p>
    <p>Just make sure your feedback meets our @Html.ActionLink("community guidelines.", "CommunityGuideLines", "Home")</p>
    @Html.ActionLink("Repy to Rating", "ReplyToRating", "LandLords", new { id = Model.Rating.RatingId }, new { @class = "btn btn-primary" })
}
<p>
    @Html.ActionLink("Back to LandLord Details", "Details", "LandLords", new { id = Model.Rating.LandLord.LandLordId }, new { @class = "btn btn-primary" })
</p>
