@model PagedList.IPagedList<LandLordRating.Models.Rating>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "View Ratings For LandLord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.13/af-2.1.3/b-1.2.4/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#landlordsTable').DataTable({
                "bLengthChange": false,
                "pageLength": 50
            });
        });
    </script>
}

<h2>@ViewBag.Message</h2>
<br />
<p>Below is a list of all ratings on this landlord we have information on.</p>

@using (Html.BeginForm())
{
    <p>
        Find by LandLord Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-striped" id="landlordsTable">
    <thead>
    <tr>
        <th>
            @Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            LandLord Rating
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.RatingName).ToString(), "RatingDetails", new { id = item.RatingId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandLordRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafetyRating)
            </td>
            <td>
                @Html.ActionLink("Write Rating", "CreateRating", new { id = item.LandLordId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
