@model LandLordRating.Models.LandLordViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "View Ratings For LandLord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<br />
<p>Below is a list of all ratings on this landlord that our users have submitted.</p>

<table class="table table-striped" id="landlordratingstable">
    <thead>
        <tr>
            <th>
                Rating Name
            </th>
            <th>
                LandLord Rating
            </th>
            <th>
                View Rating
            </th>
            <th>
                Has LandLord Replied?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ratings)
        {
            <tr>
                <td>
                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.RatingName).ToString(), "ViewRating", "LandLords", new { id = item.RatingId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandLordRating)
                </td>
                <td>
                    @Html.ActionLink("View Rating", "ViewRating", "LandLords", new { id = item.RatingId }, new { @class = "btn btn-primary" })
                    @if (Model.IsClaimingUser)
                    {
                        @Html.ActionLink("Reply To Rating", "ReplyToRating", "LandLords", new { id = item.RatingId }, new { @class = "btn btn-primary" })
                    }
                </td>
                @if (item.RatingReply != null && item.RatingReply.IsApproved)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
            </tr>
        }
    </tbody>
</table>

<hr />


<br />
Page @(Model.Ratings.PageCount < Model.Ratings.PageNumber ? 0 : Model.Ratings.PageNumber) of @Model.Ratings.PageCount

@Html.PagedListPager(Model.Ratings, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<br/>

@Html.ActionLink("Return to LandLord Page", "Details", "LandLords", new { id=Model.LandLord.LandLordId}, new { @class="btn btn-primary btn-lg"})


