@model PagedList.IPagedList<LandLordRating.Models.Rating>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "LandLords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Search for Land Lord</h2>
<br />
<p>Below is a list of your ratings</p>

@using (Html.BeginForm())
{
    <p>
        Find by LandLord Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-primary"/>
    </p>
}
<table class="table table-striped" id="landlordsTable">
    <thead>
    <tr>
        <th>
            Rating Name
        </th>
        <th>
            LandLord
        </th>
        <th>
            Rating
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.RatingName).ToString(), "ViewRating", new { id = item.RatingId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandLord.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandLordRating)
            </td>
        </tr>
    }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
